
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}


div {
    text-align: center;
    margin: 2px 0;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

section > div {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    height: 350px;
}

img {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    object-fit: cover;
}

section > div img {
    width: 50%;
    height: auto;
}

section > div h2 {
    margin: 10px 0;
    font-size: 18px;
}

section > div a {
    text-decoration: none;
    color: #333;
    font-weight: 900;
}

h5 {
    color: darkgray;
    font-weight: 450;
    font-size: 80%;
}

section > div a:hover {
    text-decoration: underline;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

#social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white; 
    border-radius: 50%;
    overflow: hidden;
}

#social-icons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
}


div > img {
    width: 400px; 
    height: 400px; 
    background-color: #f0f0f0; 
    border-radius: 90%; 
    display: block;
    margin: 0 auto; 
    object-fit: cover; 
}




.header {
    align-items: center;
    color: #333;
    background-color: white;
   
}

.logo img {
    width: 50px;
}

.title h1 {
    margin: 0 20px;
    font-size: 1.5rem;
    color: #333;
}

.navbar{
    background-color: #0056b3;
    width: 100%;
    height: 100%;
    
}

.navbar ul {
    display: flex;
   
}

.navbar ul li {
    margin-right: 40px;
    color: blue;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.user-info {
    display: flex;
    align-items: center;
}

.icons a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
}

.user-profile {
    margin-right: 100%;
    display: flex;
    align-items: center;
    color: white;
    
}

.user-initials {
    background-color: #3b4148;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

.user-name {
    margin-right: 10px;
    color: #333;
}

.icon-settings {
    font-size: 1.5rem;
    color: white;
}

